@media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }

.movie{
    display: flex;
    flex-direction: row;
}

.image-movie{
    position: relative;
}
.favorite{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
}
.favorite:focus{
    border: none;
}